<div class="flex flex-col flex-auto h-full overflow-hidden bg-card dark:bg-default">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-18 -mb-px px-6 bg-gray-50 dark:bg-transparent">

        <div class="ml-2 text-xl font-semibold">Thêm Danh mục</div>

        <div class="flex items-center">
            <!-- More menu -->
            <button  [color]="'warn'" mat-button (click)="cancelAdd()">
                Hủy
            </button>
            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="save()" [disabled]="addDataForm.invalid">
                Lưu
            </button>
        </div>

    </div>
    <mat-divider class="mb-4"></mat-divider>
    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start p-6">
        <form [formGroup]="addDataForm">
        <div class="flex-auto min-w-64">
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Tên danh mục</mat-label>
                    <input matInput [placeholder]="'Tên danh mục'" [formControlName]="'name'">
                </mat-form-field>
            </div>
        </div>
        </form>
    </div>
</div>