<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="securityForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Thay đổi mật khẩu</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Mật khẩu hiện tại</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'currentPassword'"
                        type="password"
                        matInput>
                </mat-form-field>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Mật khẩu mới</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:key'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'newPassword'"
                        type="password"
                        matInput>
                </mat-form-field>
                <!-- <div class="mt-1 text-md text-hint">Tối thiểu 8 ký tự. Phải bao gồm số, chữ hoa, chữ thường và ký tự đặc biệt.</div> -->
            </div>
        </div>
        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button (click)="cancel()"
                mat-stroked-button
                type="button">
                Hủy
            </button>
            <button (click)="save()"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">Lưu
            </button>
        </div>
    </form>

</div>
